.footer {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: left;
}

.footer__copyright {
  color: #545454;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
}

@media screen and (max-width: 600px) {
  .footer {
    max-width: 282px;
  }

  .footer__copyright {
    font-size: 14px;
    margin-top: 47px;
  }
}
