.header {
  margin-top: 45px;
  border-width: 880px;
  border-bottom: solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
}

.header__image {
  width: 173px;
  height: 33px;
}
@media screen and (max-width: 450px) {
  .header {
    margin-top: 28px;
    padding-bottom: 35px;
    border-width: 345px;
  }

  .header__image {
    width: 126px;
    height: 24px;
  }
}
