.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: aqua;
  z-index: 999;
  display: flex;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
}

.modal__heading {
  color: black;
  width: 330px;
  height: 23px;
  top: 229px;
  left: 461px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
}

.modal__button {
  width: 430px;
  height: 330px;
  top: 195px;
  left: 425px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: black;
}
