.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: aqua;
  z-index: 999;
  display: flex;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
}

.modal__heading {
  color: black;
}
